.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.create-new {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.create-new-link {
  text-decoration: none;
  display: block;
  transform: scale(0.8);
  color: var(--extras);
  margin-top: 0.1rem;
}

.create-new-link:hover {
  text-decoration: underline;
  transform: scale(0.9);
}

.create-new-text {
  text-align: center;
  font-size: 0.8rem;
  color: var(--extras);
  font-style: italic;
  font-weight: 500;
}

.error {
  flex: 1;
  display: flex;
  justify-content: center;
}

.error-dark {
  color: #f2f2f2;
}

.toggle-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
