.home {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
}

.task {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
    border: solid 1px var(--sec-col);
    /* height: 8rem;
    overflow: auto; */
    width: clamp(10rem, 80%, 15rem);
}

.title {
    font-size: .7rem;
    letter-spacing: 1px;
    border-bottom: solid 1px #141824;
    ;
    padding-bottom: .3rem;
    margin-bottom: .5rem;
}

.task-name {
    font-size: .9rem;
    font-weight: bold;

}

.notes {
    font-size: .75rem;
    flex: 1;
}

.task-created {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .2rem 0;
}

.calendar {
    height: 1rem;
}

.date-created,
.followers-length {
    margin-left: .3rem;
    font-size: .5rem;
}

.date-section {
    display: flex;
    align-items: center;
}

.followers-section {
    display: flex;
    align-items: center;
}

.followers-img {
    height: 1rem;
}

.modified_at,
.due_on {
    font-size: .5rem;
    margin: .15rem 0;
}