.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-col);
    padding: 1rem;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
}

.menu-section {
    display: flex;
    flex: .5;
    justify-content: end;
    align-items: center;
}

.nav-items {
    color: var(--extras);
    margin-left: .5rem;
    font-weight: 500;
    text-decoration: none;
    font-size: .8rem;
}

.nav-items:hover {
    text-decoration: underline;
}