.create-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.create-section-dark {
  color: #f2f2f2;
}

.title {
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

.task-name-label {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
}

.task-name-label-radio {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.7rem;
  margin: 0.5rem;
  cursor: pointer;
}

.form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  accent-color: #121211;
  gap: 0.25rem;
}

.input {
  outline: none;
  border: solid 0.1px var(--extras);
  padding: 0.2rem;
  height: 1.5rem;
  font-size: 0.65rem;
  flex: 1;
  margin-left: 0.25rem;
  letter-spacing: 1px;
}

.text-area {
  resize: none;
  outline: none;
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
  flex: 1;
  margin-left: 0.25rem;
}

.radio {
  height: 0.65rem;
  margin-left: 0.5rem;
}

.radio-section {
  display: flex;
  flex-direction: column;
}

.radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
}

.button-section {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.submit-button {
  width: 100%;
  font-size: 0.6rem;
  height: 1.5rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin: 0.5rem auto;
  background: var(--bg-col);
  border: none;
  box-shadow: 0 0 1px var(--extras);
}

.submit-button:hover {
  box-shadow: 0 0 2px var(--extras);
}

.btn-dark {
  box-shadow: 0 0 2.5px #f2f2f2;
}

.btn-dark:hover {
  box-shadow: 0 0 4px #f2f2f2;
}

.disabled {
  cursor: not-allowed;
}

.label-text {
  width: 3.8rem;
}

.label-text-radio {
  width: auto;
}

.radio-inputs {
  display: flex;
  margin-top: 0.5rem;
}
