.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0;
}

.button {
  padding: 0.2rem 0.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
  color: var(--extras);
}

.footer-text {
  margin-left: 0.5rem;
}

.footer-text-dark,
.dark {
  color: var(--white);
}

.not-allowed {
  cursor: not-allowed;
}
