@import "/src//pages/create/s_create.module.css";

.task-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  margin: 0.5rem auto 1.2rem;
  flex: 1;
  border-bottom: solid 1.5px rgb(199 200 202 / 48%);
  padding-bottom: 0;
  gap: 0;
}

.task-name-label {
  display: flex;
}

.task-name-label-radio {
  margin: 0.25rem;
}

.delete {
  width: 8rem;
  height: 1.35rem;
  position: relative;
  margin: 0 auto;
  background: #e74c3c;
  border: solid 1px rgb(18 18 18 / 50%);
  color: #f2f2f2;
}

.submit-button {
  width: 100%;
  position: relative;
  font-size: 0.8rem;
}

button {
  cursor: pointer;
}

.task-details-dark {
  color: #f2f2f2;
}

.button-section {
  margin: 0.5rem 0;
}

.task-gid {
  font-size: 0.7rem;
  margin: 0.25rem;
  font-style: italic;
}

.blur {
  filter: blur(3px);
}